{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{%  block body %}

	<div class="container">

		<div class="jumbotron mt-5" style="border : 2px solid black; border-radius: 30px">
			<h1 class="display-3">Bienvenue à la pharmacie Pasteur!</h1>
			<p class="lead">Notre équipe vous accueil pour vous proposer les meilleurs services dans la meilleure pharmacie de Garches
			</p>
		</div>
		<br>


		<div class="row">
			<div class="col">

				<div class="card bg-light mb-3 reveal" style="border : 2px solid black; border-radius: 30px">
					<div class="card-header text-center reveal-1">
						<h2>
							Présentation de la pharmacie et de l'équipe
						</h2>
					</div>

					<div class="card-body reveal-2">
						<p class="card-text" style="text-align : center">

							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-100" width="800" height="500" src="https://img.bfmtv.com/c/1000/400/2fc/dbb35bece91d656ee8d7c8e605742.jpeg" alt="First slide">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" width="800" height="500" src="https://www.fontenaylevicomte.fr/mod_turbolead/getvue.php/1023_view.jpg" alt="Second slide">
									</div>
									<div class="carousel-item">
										<img class="d-block w-100" width="800" height="500" src="http://www.pharmacie-martina.com/photo/homeslider/1/diapo1.jpg" alt="Third slide">
									</div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>

						</p>
					</div>

					<hr class="ml-5 mr-5">

					<div class="card-body row align-items-center reveal-3">
						<div class="col-4">
							<h2 class="card-text" style="text-align : center">
								<i class="fas fa-user-circle fa-5x"></i>
							</h2>
							<br>

							<h5 class="card-text" style="text-align : center">
								Anne Petit
							</h5>


							<p class="card-text" style="text-align : center">
								Pharmacien titulaire
							</p>
						</div>

						<div class="col-4">
							<h2 class="card-text" style="text-align : center">
								<i class="fas fa-user-circle fa-5x"></i>
							</h2>
							<br>

							<h5 class="card-text" style="text-align : center">
								Isabelle
							</h5>


							<p class="card-text" style="text-align : center">
								Pharmacien assistant
							</p>


						</div>

						<div class="col-4">
							<h2 class="card-text" style="text-align : center">
								<i class="fas fa-user-circle fa-5x"></i>
							</h2>
							<br>

							<h5 class="card-text" style="text-align : center">
								Camille
							</h5>


							<p class="card-text" style="text-align : center">
								Stagiaire
							</p>

						</div>


					</div>

				</div>

				<br>
				<br>

				<div class="card bg-light mb-3 reveal" style="border : 2px solid black; border-radius: 30px">
					<div class="card-header text-center reveal-1">
						<h2>
							Présentation de la Téléconsultation
						</h2>
					</div>

					<div class="card-body row align-items-center reveal-2">
						<div class="col-4">
							<h2 class="card-text" style="text-align : center">
								<img class="d-block w-100" width="300" height="300" src="https://www.jechercheunrdv.fr/Portail/img/animation-particulier/slide-particulier-03.png">
							</h2>
							<br>

							<h5 class="card-text" style="text-align : center">
								Je prends rendez vous sur le site 
							</h5>
							
							</br>

							<p class="card-text" style="text-align : center">
								Prenez rendez-vous à l'heure que vous voulez en fonction des dates disponibles
							</p>
						</div>

						<div class="col-4">
							<h2 class="card-text" style="text-align : center">
								<img class="d-block w-100" width="300" height="300" src="https://im.qccdn.fr/node/actualite-telemedecine-la-teleconsultation-remboursee-58645/original-37625.jpg">
							</h2>
							<br>

							<h5 class="card-text" style="text-align : center">
								J'effectue ma téléconsultation en pharmacie
							</h5>
							
							</br>

							<p class="card-text" style="text-align : center">
								Bénéficiez d'avis et de diagnostics, et si nécessaire, d'une ordonnance
							</p>


						</div>

						<div class="col-4">
							<h2 class="card-text" style="text-align : center">
								<img class="d-block w-100" width="300" height="300" src="http://infoasso32.fr/wp-content/uploads/2017/05/remboursement.jpg">
							</h2>
							<br>

							<h5 class="card-text" style="text-align : center">
								Ma téléconsultation peut être remboursée
							</h5>

							</br>

							<p class="card-text" style="text-align : center">
								La prise en charge dépend de votre situation dans le parcours de soin
							</p>

						</div>


					</div>

					<hr class="ml-5 mr-5">

					<div class="card-body reveal-3">
						<p class="card-text" style="text-align : center; color : black">
							Vous souhaitez prendre un rendez vous de teleconsultation en pharmacie ? 
							cliquez ici afin de choisir un créneau : <a class = "btn btn-primary" href="{{path('rendezvous_prise')}}">Prendre rendez vous</a>
						</p>
					</div>

				</div>

				</br>
				</br>

				<div class="card bg-light mb-3 reveal" style="border : 2px solid black; border-radius: 30px">
					<div class="card-header text-center reveal-1">
						<h2>
							Nos coordonnées
						</h2>
					</div>

					<div class="card-body row align-items-center reveal-2">
						<div class="col-4">
							<h6 class="card-text">
								<span class="fas fa-clock"></span>
								Horaires
							</h6>
							<p class="card-text">
								Lundi : 14 h 30 - 19 h 30
								<br>
								Mardi : 9h - 12 h 30 / 14 h 30 - 19 h 30
								<br>
								Mercredi : 9h - 12 h 30 / 14 h 30 - 19 h 30
								<br>
								jeudi : 9h - 12 h 30 / 14 h 30 - 19 h 30
								<br>
								Vendredi : 9h - 12 h 30 / 14 h 30 - 19 h 30
								<br>
								Samedi : 9h - 12 h 30 / 14 h 30 - 19 h 30
							</p>
						</div>

						<div class="col-4">
							<h6 class="card-text">
								<span class="fas fa-envelope"></span>
								Mail
							</h6>

							<p class="card-text">
								pharmacie. pasteur-garches @ orange .fr
							</p>
							<br>

							<h6 class="card-text">
								<span class="fas fa-phone"></span>
								Telephone
							</h6>

							<p class="card-text">
								0674466314
							</p>


						</div>

						<div class="col-4">
							<h6 class="card-text">
								<span class="fas fa-map-marker-alt"></span>
								Où nous trouver ?
							</h6>

							<p class="card-text">
								1 Avenue Bergson, 92380 Garches
							</p>
							<br>

							<h6 class="card-text">
								<span class="fas fa-fax"></span>
								Fax
							</h6>

							<p class="card-text">
								0215475632
							</p>
						</div>


					</div>

					<hr class="ml-5 mr-5">

					<div class="card-body reveal-3">
						<p class="card-text" style="text-align : center">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.900494435602!2d2.1791982511168015!3d48.84103667918412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67ca197314241%3A0x8114ac5261c36f5c!2sSelarl%20Pharmacie%20Pasteur!5e0!3m2!1sfr!2sfr!4v1572006515137!5m2!1sfr!2sfr" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
						</p>


					</div>
				</div>

				</br>
				</br>

				<div class="card bg-light reveal" style="border : 2px solid black; border-radius: 30px">
					<div class="card-header text-center reveal-1">
						<h2>
							Contacter nous !
						</h2>
					</div>

					<div class="card-body reveal-2">
						<div class="container">

							{% if app.user %}

								{{ form_start(form) }}


								{{form_label(form.mail)}}
								{{ form_widget(form.mail, {value : username}) }}
								<br>
								{{form_label(form.firstname)}}
								{{ form_widget(form.firstname, {value : firstname}) }}
								<br>
								{{form_label(form.name)}}
								{{ form_widget(form.name, {value : name}) }}
								<br>
								{{form_label(form.message)}}
								{{ form_widget(form.message) }}
								<br>
								<div style = "text-align:center">
								<button type="submit" class="btn btn-primary">
									Envoyer
								</button:type>
								</div>
								{{ form_end(form) }}


							{% else %}

								{{ form_start(form) }}

								{{form_widget(form)}}

								<div style = "text-align:center">
								<button type="submit" class="btn btn-primary">
									Envoyer
								</button:type>
								</div>

								{{ form_end(form) }}

							{% endif %}


						</div>
					</div>


				</div>


			</div>


		</div>


	</div>


{% endblock %}

{% block javascripts %}
	<script src="js/home.js"></script>
{% endblock %}
