{% extends 'base.html.twig' %}

{% block title %}
	Mes rendez vous
{% endblock %}

{% block body %}

	<div class="container mt-5">

	{% if rendezvous == false  %}
        <div class="container mt-5 mb-5">

		<div style="height: 80vh;border: 2px solid black;border-radius : 30px ;background-color:white;" class="align-items-center">

        <center> <img src="https://eole.lycee-bonaparte.fr/wordpress/wp-content/uploads/2018/11/Prise-de-RDV-en-ligne.png" alt="Image erreur" style="height : 300px; width: 50%; margin-top : 10px; margin-bottom : 5px;"> </center>
            <p id ="p1"> 
                Vous n'avez aucun rendez-vous, veuillez cliquez ici pour réserver la téléconsultation : </br> </br>
            </p>

             <div style = "text-align:center">
                                <a href=" {{ path ('rendezvous_prise') }}" class="btn btn-primary">
                                    Prendre rendez-vous
                                </a>

                </div>

        </div>
        </div>
        {% else %}

		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">

				<div class="bg-light py-3 px-3" style=" border: 2px solid black; border-radius:30px">
					<h1 style="text-align:center">
						Mes rendez vous
					</h1>

					{% for rdv in rendezvous %}

						<dl class="row">
							<dt class="col-md-4">Numéro</dt>
							<dd class="col-md-8">{{ rdv.id }}</dd>
							<dt class="col-md-4">date et heure du rendez vous
							</dt>
							<dd class="col-md-8">{{rdv.Date | date('d/m/Y à  H:i:s')}}</dd>
							<dt class="col-md-4">Durée</dt>
							<dd class="col-md-8">
								1 heure en moyenne</dd>
							<dt class="col-md-4">Docteur
							</dt>
							<dd class="col-md-8">
								Mr Augy
							</dd>

							<div class="ml-auto">
								<a href="{{path('rdv_delete', {'id': rdv.id})}}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir annuler votre rendez vous le {{rdv.Date | date('d/m/Y à  H:i:s')}} ?`)">Annuler mon rendez vous
								</a>
							</div>


						</dl>

						<hr>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endif %}
</div>

{% endblock %}
