{% extends 'base.html.twig' %}

{% block title %}Prise de rendez vous{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    <div class="container" style = "overflow:hidden;">
        <h1> Prendre rendez vous pour la téléconsultation </h1>

        {{form_start(form)}}

        <div class="alert alert-light " style = "text-align:center">
            <h2> Choisissez la date et l'heure du rendez vous </h2>
         
                
                    {{form_widget(form)}}
                
                

        
        </div>

        <div style="text-align:center " class = "mb-5">

                <button type="submit" class="btn btn-success">
                    Confirmer
                </button>

            </div>

             {{form_end(form)}}

            {{ form_rest(form) }}




         

            <div class="bg-light py-3 px-3 mb-5" style = " border: 1px solid black">
                <h1 style = "text-align:center">
                    Les prochains rendez vous
                </h1>
    



            {% for rdv in events %}
    
        <dl class="row" style = "text-align:center">
            <dt class="col-md-4">date et heure du rendez vous </dt>
            <dd class="col-md-8">{{rdv.Date | date('d/m/Y à  H:i:s')}}</dd>
            <dt class="col-md-4">Date de fin </dt>
            <dd class="col-md-8">{{rdv.endDate | date('d/m/Y à  H:i:s')}}</dd>




            

           
        </dl>

        <hr>

        {% endfor %}
          </div>
</div>

    </div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>


<script type="text/javascript">

</script>
{% endblock %}
