{% extends 'base.html.twig' %}

{% block title %}
	{{catego.name}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/product.css">
{% endblock %}

{% block body %}
	


	<div class="row mt-5">
		{% for products in catego.products %}
			<div class="col-md-3">
				<div class="card bg-light text-dark  mb-3 reveal" style = "border : 2px solid black; border-radius : 30px"> 

					<img src="{{ products.image }}" alt="Image du produit" style="height : 200px; width: 90%; display:block" class="ml-auto mr-auto mt-3 reveal-1">

					<div class="card-body reveal-2">
						<h2 class="card-title" style="text-align : center">
							{{ products.name }}
						</h2>
						<p class="card-text">
							{{ products.description }}
						</p>

						<div class="card-text  row align-items-center reveal-3">

							<div class=" col-6">

								<h2>{{products.price}}&euro;</h2>
							</div>


							<div class=" col-6" id = "p">
								<a href=" {{ path ('show_products', {'slug' : products.slug }) }}" class="btn btn-secondary">
									Details
								</a>

							</div>

						</div>
					</div>


				</div>


			</div>

		{% endfor %}


	</div>




{% endblock %}

{% block javascripts %}

<script src="/js/product.js"></script>


{% endblock %}

