{% extends 'base.html.twig' %}

{% block title %}Nos Produits
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/product.css">
{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="row">
        {% for product in products %}
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="card bg-light text-dark mb-3 reveal" style=" border: 2px solid black; border-radius:30px">

                    <img src="{{ product.image }}" alt="Image du produit" style="height : 200px; width: 90%; display:block" class="ml-auto mr-auto mt-3 reveal-1">

                    <div class="card-body reveal-2">
                        <h2 class="card-title" style="text-align : center">
                            {{ product.name }}
                        </h2>
                        <p class="card-text">
                            {{ product.description }}
                        </p>
                         <p class="card-text">
                            {{ product.categories.name }}
                        </p>
                        

                        <div class="card-text  row align-items-center reveal-3">

                            <div class=" col-6">

                                <h2>{{product.price}}&euro;</h2>
                            </div>


                            <div class=" col-6" id ="p">
                                <a href=" {{ path ('show_products', {'slug' : product.slug }) }}" class="btn btn-secondary">
                                    Details
                                </a>

                            </div>

                        </div>

                        </div>
                    </div>


                </div>
            </div>

        {% endfor %}

        {% if products == false  %}
        <div class="container mt-5 mb-5">

		<div style="height: 80vh;border: 2px solid black;border-radius : 30px ;background-color:white;" class="align-items-center">

        <center> <img src="http://img.over-blog-kiwi.com/1/15/35/45/20150602/ob_99274b_erreur.jpg" alt="Image erreur" style="height : 300px; width: 50%; margin-top : 10px; margin-bottom : 5px;"> </center>
            <p id ="p1"> 
                Nous sommes désolés, aucun produits ne correspond à vos recherches ! Veuillez cliquer ici pour revenir à la liste des produits : </br> </br>
            </p>

             <div style = "text-align:center">
                                <a href=" {{ path ('index_product') }}" class="btn btn-primary">
                                    Liste des produits
                                </a>

                </div>

        </div>
        </div>
        {% endif %}

    </div>


{% endblock %}


{% block javascripts %}

<script src="/js/product.js"></script>


{% endblock %}