{% extends 'base.html.twig' %}

{% block title %}Nos Produits
{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="row">
        {% for product in products %}
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="card bg-light text-dark mb-3" style=" border: 2px solid black; border-radius:30px">

                    <img src="{{ product.image }}" alt="Image du produit" style="height : 200px; width: 90%; display:block" class="ml-auto mr-auto mt-3">

                    <div class="card-body">
                        <h2 class="card-title" style="text-align : center">
                            {{ product.name }}
                        </h2>
                        <p class="card-text">
                            {{ product.description }}
                        </p>
                         <p class="card-text">
                            {{ product.categories.name }}
                        </p>
                        

                        <div class="card-text  row align-items-center">

                            <div class=" col-6">

                                <h2>{{product.price}}&euro;</h2>
                            </div>


                            <div class=" col-6">
                                <a href=" {{ path ('show_products', {'slug' : product.slug }) }}" class="btn btn-secondary">
                                    Voir le produit
                                </a>

                            </div>

                        </div>

                        </div>
                    </div>


                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}


